.user-data {
  margin-left: auto;
  position: relative;
  padding-right: 10px;
}
.user-data-menu {
  padding-right: 10px;
}
.navbar-brand {
  padding-left: 10px;
  display: flex;
}
.logo {
  height: 40px;
  margin-right: 10px;
}
.title {
  margin-top: 5px;
  color: #167bff;
}
.logout {
  color: #167bff;
}
.navbar {
  margin-bottom: 20px;
}
.promptInput {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px;
}

.result-container {
  margin-top: 20px;
  width: 100%;
}

.result-container ul {
  padding: 0;
  list-style: none;
}

.result-container li {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.find-button {
  margin-top: 20px;
}

form {
  width: 100%;
  max-width: 600px;
}
